<div class="jumbotron">
  <h1>今期なに見る?</h1>
  <h2><p>今期見ているアニメをチェックして、みんなで共有しよう！</p></h2>
  <p>
    <a class="btn btn-primary btn-lg" href="#" role="button">
      アカウントを作る
    </a>
  </p>
</div>
<%= render 'shared/anime_panels' %>