@import "bootstrap-sprockets";
@import "bootstrap";

// ---- ヘッダー ---- //

@mixin header-color {
  color: #fff;

  &:hover {
    color: #aaa;
  }
}

.navbar {
  border-radius: 0;
  border: none;
  background-color: #2E8B57;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  @include header-color;
}

.navbar-default .navbar-nav >li > a {
  @include header-color;
}

a.header-icon {
  padding: 0px !important;
}

// ---- フッター ---- //

#footer {
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid #eaecef;
  padding: 40px 0;
}

.footer-list {
  text-align: center;
  list-style-type: none;
  li {
    padding: 5px 10px;
    display: inline-block;
  }
}

// ---- アニメパネル ---- //

img.box-img {
  width: 100%;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 2;
}

.panel-header {
  text-align: center;
  padding-top: 10px;
  height: 30px;
}

.panel-body{
  height: 350px;
}

.panel-tweet-btn {
  margin-bottom: 10px;
}

// ---- マスター ---- //

ul.list-group {
  margin-top: 30px;
}

// ---- アラート ---- //

.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

// ---- ログインフォーム ---- //

input.btn {
  width: 100%;
}

div.devise-links {
  margin-top: 20px;
}

div#error_explanation {
  color: red;
}

.btn-twitter {
  border-color: #2795e9;
  background-color: #55acee;
  color: white;
  &:hover {
    opacity: 0.8;
    color: white;
  }
}

.form-btn {
  width: 100%;
  font-size: 14px;
  margin-top: 25px;
  padding: 6px 12px;
}

// ---- マイページ ---- //

.user-info {
  border: 1px solid #eee;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.user-image {
  margin: 10px;
}

.user-name {
  margin: 0px 10px 10px;
}

.list-btn {
  float: right;
}

.watch-list {
  height: 50px;
}
