<h2>今期なに見る？</h2>

<p>こんにちは <%= @resource.email %>さん！</p>

<p>以下のリンクをクリックしてパスワードをリセットしてください！</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心あたりがない場合は、お手数ですが破棄してください。</p>
