<div id="footer">
  <ul class="footer-list">
    <li><a href="https://twitter.com/himrox">Twitter</a></li>
    <li><a href="https://github.com/himrox/konki-nanimiru">GitHub</a></li>
    <li>&#169; 2017 himrox</li>
  </ul>
</div>
